* {
  box-sizing: border-box;
}

:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}


h1 {
  background-image: url("../public/bg-desktop-light.jpg");
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Very-Light-Gray);
}


.main-flex {
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


li {
  list-style-type: none;
  border: 1px solid grey;

  padding: 5px;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  border: 1px solid grey;
  width: 100%;
  margin-top: 50px;
  border-bottom: 2px;
}

.input_box {
  width: 90%;
  padding: 5px;
  
}

button{
  margin-left:auto;
}




.checked{

text-decoration: line-through;
}

.main-flex{

  display:flex;
  align-items:center;
  justify-content:center;


}

.center-flex {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top:-50px;
}

button{

  background-color: white;
  padding:5px;
}

.checkbox{

  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked{
  background-color: hsl(280, 87%, 65%);
}

p{
  margin-top:10px;
}